@model Optik_Arayuz_UI.Models.Exam

@{
    ViewData["Title"] = "Delete";
}

<div class="Rcontainer">
    <h4>Sınavı Sil</h4>
    <p style="color:black">Silmek istediğinize emin misiniz?</p>

    <div>
        <hr />
        <dl class="">
            <dt class="">
                Sınav Adı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.ExamName)
            </dd>
            <dt class="">
                Test Sayısı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.TestCount)
            </dd>
            <dt class="">
                Klasik Sayısı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.ClassicCount)
            </dd>
            <dt class="">
                Sınav Kağıdı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.ExamPaper.ExamPaperName)
            </dd>
            <dt class="">
                Oluşturan
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ExamId" />
            <input type="submit" value="Sil" class="button" />
        </form>

    
    </div>
</div>
