@model Optik_Arayuz_UI.Models.Exam

@{
    ViewData["Title"] = "Details";
}

<div class="Rcontainer">
    <div>
        <h4>Sınav Detayları</h4>
        <hr />
        <dl class="">
            <dt class="">
                Sınav Adı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.ExamName)
            </dd>
            <dt class="">
                Test Sayısı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.TestCount)
            </dd>
            <dt class="">
                Klasik Sayısı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.ClassicCount)
            </dd>
            <dt class="">
                Sınav Kağıdı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.ExamPaper.ExamPaperName)
            </dd>
            <dt class="">
                Oluşturan
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
        </dl>
    </div>

</div>

