@model IEnumerable<Optik_Arayuz_UI.Models.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassicCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamPaper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassicCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamPaper.ExamPaperId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
