@model IEnumerable<Optik_Arayuz_UI.Models.Announcement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnnouncementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnouncementContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnouncementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnnouncementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnnouncementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnnouncementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
