@model Optik_Arayuz_UI.Models.Faculty

@{
    ViewData["Title"] = "Delete";

}

<div class="Rcontainer">
    <h4>Fakülteyi Sil</h4>

    <p style="color:black">Silmek istediğinize emin misiniz?</p>
    <div>
        <hr />
        <dl>
        <dt >
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.FacultyName)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.FacultyAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacultyAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FacultyMail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacultyMail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FacultyPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacultyPhoneNumber)
        </dd>
    </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="FacultyId" />
            <input type="submit" value="Sil" class="button" />
        </form>
    </div>
</div>

