@model Optik_Arayuz_UI.Models.Department

@{
    ViewData["Title"] = "Delete";
}
<div class="Rcontainer">
    <h4>Departmanı Sil</h4>

    <p style="color:black">Silmek istediğinize emin misiniz?</p>
    <div>
        <hr />
        <dl>
            <dt >
                @Html.DisplayNameFor(model => model.DepartmentName)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.DepartmentAddress)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.DepartmentAddress)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.DepartmentMail)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.DepartmentMail)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.DepartmentPhoneNumber)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.DepartmentPhoneNumber)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.Faculty)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Faculty.FacultyName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="DepartmentId" />
            <input type="submit" value="Sil" class="button" />
        </form>

    </div>
</div>

