@model Optik_Arayuz_UI.Models.Department

@{
    ViewData["Title"] = "Details";
}

<div class="Rcontainer">
    <div>
        <h4>Departman</h4>
        <hr />
    <dl>
        <dt >
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.DepartmentAddress)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.DepartmentAddress)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.DepartmentMail)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.DepartmentMail)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.DepartmentPhoneNumber)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.DepartmentPhoneNumber)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.FacultyId)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Faculty.FacultyId)
        </dd>
    </dl>
    </div>

</div>