@model IEnumerable<Optik_Arayuz_UI.Models.ExamPaper>

<head>
    <link rel="stylesheet" href="~/css/Table.css" asp-append-version="true" />
</head>

<div class="IContainer">
    <h1>Sınav Kağıtları</h1>

    <p>
        <a asp-area="" asp-controller="ExamPapers" asp-action="Create">Yeni Sınav Oluştur</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExamPaperName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamPaperTitle)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamPaperName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamPaperTitle)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ExamPaperId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ExamPaperId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ExamPaperId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

